<h1>Welcome, <%= user.firstname %> <%= user.lastname %></h1>
<p>Email: <%= user.email %></p>
<p>Birthdate: <%= user.birthdate %></p>
<img src="/uploads/<%= user.profile_pic %>" width="150"><br>
<a href="/logout">Logout</a>
